---
// LoadingScreen.astro
---
<div class="loading-screen">
    <div class="loading-item">
        <svg class="loading-item-upper" width="130" height="82" viewBox="0 0 130 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 64.96L16.7968 81.7568L64.96 33.5936L113.123 81.7568L129.92 64.96L64.96 0L0 64.96Z" fill="#EBEBEB"/>
        </svg>
        <svg class="loading-item-lower" width="130" height="82" viewBox="0 0 130 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 64.96L16.7968 81.7568L64.96 33.5936L113.123 81.7568L129.92 64.96L64.96 0L0 64.96Z" fill="#EBEBEB"/>
        </svg>
    </div>
    <p class="loading-text">LOADING</p>
</div>
