---
// About.astro
---

<section class="about" id="about">
    <article class="content">
        <div class="profile-img">
            <img
                src="/assets/img/profile-img.jpg"
                alt="profile-image"
                loading="lazy"
                decoding="async"
            />
        </div>
        <div class="profile-description">
            <h2 class="name-jp"><span>長田絹人</span></h2>
            <h3 class="name-en">NAGATA KENT</h3>
            <p class="description">
                <span>平成18年アメリカ生まれ</span>
                <br />
                <span>KADOKAWAドワンゴ情報工科学院</span>
                <br />
                <span>デザイナー専攻に所属</span>
                <br />
                <span>HTML/CSSなどのプログラミング言語を学びながら</span>
                <br />
                <span>デザイン・ディレクション面で奮闘中！</span>
                <br />
            </p>
        </div>
    </article>
</section>
