---
// BackgroundPolygons.astro
---

<div class="polygon-1 polygon">
  <img
    src="/assets/img/polygon/polygon-1.svg"
    alt=""
    loading="lazy"
    decoding="async"
  />
</div>
<div class="polygon-2 polygon">
  <img
    src="/assets/img/polygon/polygon-2.svg"
    alt=""
    loading="lazy"
    decoding="async"
  />
</div>
<div class="polygon-3 polygon">
  <img
    src="/assets/img/polygon/polygon-3.svg"
    alt=""
    loading="lazy"
    decoding="async"
  />
</div>
