---
// Contact.astro
---
<section class="contact" id="contact">
    <div class="loop-track-title"><h2>MailTo</h2></div>
    <div class="loop-track-wrapper">
        <div class="loop-track" id="loop-track">
                <a data-mailtoui class="email" href="mailto:nagata.k.24kdgn@gmail.com?subject=お問い合わせ&body=ご連絡内容をこちらにご記入ください。">nagata.k.24kdgn@gmail.com</a>
        </div>
    </div>
    <article class="footer-nav">
        <nav>
            <ul>
                <li><a href="#main-visual">TOP</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#works">WORKS</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="/works/">WORKS-List</a></li>
            </ul>
        </nav>
        <div class="contact-list">
            <ul>
                <li class="phone-num"><a class="copy-btn">080-9734-3120</a><p>phone-number</p></li>
                <li class="mail"><a class="copy-btn">nagata.k.24kdgn@gmail.com</a><p>e-mail</p></li>
                <li class="name"><a class="copy-btn">KENT NAGATA - PortFolioSite</a></li>
            </ul>
        </div>
    </article>
</section>
