---
// MainVisual.astro
---

<section class="main-visual" id="main-visual">
    <article class="content">
        <div class="mv-block">
            <div class="title">
                <h1>KENT<br />NAGATA</h1>
                <p>WEB DESIGNER</p>
            </div>
        </div>
        <div class="mv-block">
            <img
                class="memoria-logo mv-block"
                src="/assets/img/ys-logo.svg"
                alt="memoria logo"
                fetchpriority="high"
                decoding="sync"
            />
        </div>
    </article>
</section>
